@page "/counter"
@using System.Device.Gpio
@implements IDisposable

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;
    readonly GpioController gpioController = new GpioController(PinNumberingScheme.Board);
    readonly int pin = 37;

    protected override void OnInitialized()
    {
        gpioController.OpenPin(pin, PinMode.Output);
    }

    public void Dispose()
    {
        gpioController.ClosePin(pin);
    }

    void IncrementCount()
    {
        currentCount++;
        if (currentCount % 2 == 0)
        {
            gpioController.Write(pin, PinValue.High);
        }
        else
        {
            gpioController.Write(pin, PinValue.Low);
        }
    }
}
