@page "/cputemp"
@using Cloudberry.Data
@inject CpuTemperatureService CpuTempService

<h3>CPU temperature</h3>

<p>@($"{cpuTemperature:0.0} °C")</p>

@code {

    double cpuTemperature;

    protected override async Task OnInitAsync()
    {
        while (true)
        {
            cpuTemperature = CpuTempService.GetTemperatureInCelsius();
            await Task.Delay(500);
            StateHasChanged();
        }
    }
}
