@page "/cputemp"
@using Cloudberry.Data
@inject CpuTemperatureService CpuTempService
@implements IDisposable

<div id="wrapper">
    <h3>CPU temperature</h3>
    <div id="termometer">
        <div id="temperature" style="height:@($"{(int)Math.Round((cpuTemperature - minTemp) / (maxTemp - minTemp) * 100)}%;")" data-value="@($"{cpuTemperature:0.0}°C")"></div>
        <div id="graduations"></div>
    </div>
</div>

@code {

    double cpuTemperature;
    double minTemp = 20;
    double maxTemp = 100;
    bool isDisposed = false;

    protected override async Task OnInitAsync()
    {
        while (true)
        {
            cpuTemperature = CpuTempService.GetTemperatureInCelsius();
            await Task.Delay(1000);
            if (isDisposed)
                break;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        isDisposed = true;
    }
}
