@page "/robot-dashboard"
@implements IDisposable
@using Cloudberry.DeepSpaceNetwork
@inject RobotMessageHandler robotMessageHandler

<h3>Robot dashboard</h3>

<button class="btn btn-primary" @onclick="async () => await robotMessageHandler.SendHello()">Send message</button>

<div>
@foreach (var message in messages)
{
    <span class="text-secondary">@message</span>
}
</div>

@code {
    List<string> messages = new();

    protected override void OnInitialized()
    {
        robotMessageHandler.OnRobotConnected += RobotConnectedHandler;
        robotMessageHandler.OnRobotDisconnected += RobotDisconnectedHandler;
    }

    private void RobotConnectedHandler(string id)
    {
        _ = InvokeAsync(() =>
        {
            messages.Add($"Robot '{id}' connected.");
            StateHasChanged();
        });
    }

    private void RobotDisconnectedHandler(string id)
    {
        _ = InvokeAsync(() =>
        {
            messages.Add($"Robot '{id}' disconnected.");
            StateHasChanged();
        });
    }

    void IDisposable.Dispose()
    {
        robotMessageHandler.OnRobotConnected -= RobotConnectedHandler;
        robotMessageHandler.OnRobotDisconnected -= RobotDisconnectedHandler;
    }
}
